@{
    ViewData["Title"] = "About";
}


<div class="jumbotron">
    <h1>About this app</h1>
    <p>This is a sample application to show how to build, configure and deploy applications with Azure and Kubernetes</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/AzureDemos/KubernetesLab" role="button" target="_blank">View on GitHub</a></p>
</div>

